aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.0
annotated-types==0.5.0
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
build==1.0.3
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.0
cycler==0.11.0
dataclasses-json==0.5.14
Deprecated==1.2.14
docstring_parser==0.16
Faker==19.3.1
fastapi==0.99.1
favicon==0.7.0
filelock==3.12.3
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.0
gitdb==4.0.10
GitPython==3.1.43
google-api-core==2.11.1
google-auth==2.27.0
google-cloud-aiplatform==1.50.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.3
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.60.0
grpcio-status==1.57.0
h11==0.14.0
htbuilder==0.6.1
httpcore==1.0.5
httptools==0.6.0
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.2.6
langchain-cli==0.0.25
langchain-community==0.2.6
langchain-core==0.2.10
langchain-google-vertexai==1.0.5
langchain-text-splitters==0.2.2
langserve==0.2.2
langsmith==0.1.82
libcst==1.4.0
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.5
numpy==1.25.2
oauthlib==3.2.2
onnxruntime==1.15.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
orjson==3.10.5
overrides==7.4.0
packaging==23.2
pandas==2.0.3
Pillow==10.0.1
platformdirs==3.10.0
posthog==3.0.2
proto-plus==1.22.3
protobuf==4.24.2
pulsar-client==3.3.0
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.12
pydantic_core==2.6.3
pydeck==0.8.0
Pygments==2.16.1
pymdown-extensions==10.2.1
Pympler==1.0.1
pyparsing==3.0.9
PyPika==0.48.9
pyproject-toml==0.0.10
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
rpds-py==0.10.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.3.0
scipy==1.11.2
sentence-transformers==3.0.1
sentencepiece==0.1.99
Shapely==1.8.5.post1
shellingham==1.5.4
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.20
sse-starlette==1.8.2
st-annotated-text==4.0.0
starlette==0.27.0
streamlit==1.30.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
toolz==0.12.0
torch==2.6.0
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
transformers==4.42.3
typer==0.9.0
types-protobuf==4.24.0.20240129
types-requests==2.31.0.20240125
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.2.0
uvicorn==0.23.2
uvloop==0.17.0
validators==0.21.2
watchfiles==0.20.0
websocket-client==1.7.0
websockets==11.0.3
wrapt==1.16.0
yarl==1.9.2
zipp==3.16.2
